doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div#head
            div#line
            div#logo
        block content
        div#foot 关于我们 | 版本信息 | 使用须知
